.profile-title {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #1E1E1E;
  margin: 0;
  margin-top: 21px;
}
