<div class="profile">
  {{> button buttonExtraClass="button_arrow" type="button"}}
  <form class="profile__info">
    <div class="profile__avatar-info">
      {{> avatar link="/src/images/avatar.png"}}
      {{> profileTitle title="Ivan"}}
    </div>
    <div class="profile__data">
      <div class="profile__texts">
        {{> profileText text="Email"}}
        {{> profileText text="Login"}}
        {{> profileText text="Name"}}
      </div>
      <div class="profile__inputs">
        {{> input name="oldPassword" type="password" extraClass="input_disabled"}}
        {{> input name="newPassword" type="password" extraClass="input_disabled"}}
        {{> input name="newPassword" type="password" extraClass="input_disabled"}}
      </div>
    </div>
    {{> button buttonText="Save changes" buttonExtraClass="button_blue" type="submit"}}
  </form>
</div>
