<div class="login">
  <div class="login__form">
    {{> modalTitle title="Login"}}
    {{> input name="login" type="text" labelName="Login"}}
    {{> input name="password" type="password" labelName="Password"}}
    {{> button buttonText="Login" buttonExtraClass="button_blue button_mr-t-160"}}
    {{> link url='/register' urlName="Join us"}}
  </div>
</div>

