.login {
  background: #fff;
  width: 100%;
  margin-top: 5%;

  &__form {
    max-width: 340px;
    width: 100%;
    padding: 50px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
    border-radius: 12px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}
