.login {
  background: #fff;
  // height: 97vh;
  width: 100%;

  &__form {
    max-width: 340px;
    width: 100%;
    padding: 50px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}
