<nav>
  <ul>
    <li>{{> link url='/login' urlName="Login"}}</li>
    <li>{{> link url='/join-us' urlName="Join us"}}</li>
    <li>{{> link url='/profile' urlName="Profile"}}</li>
    <li>{{> link url='/data-change' urlName="Change profile info"}}</li>
    <li>{{> link url='/pass-change' urlName="Change password"}}</li>
    <li>{{> link url='/404' urlName="404"}}</li>
    <li>{{> link url='/500' urlName="5**"}}</li>
  </ul>
</nav>
