.profile-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #1E1E1E;
  border-bottom: 1px solid #EAEAEA;
  margin: 0;
  margin-bottom: 16px;
  padding: 10px 0;
  width: 100%;
  text-align: start;
}
