.modal-title {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #1E1E1E;
  margin: 0;
  margin-bottom: 32px;
}
