.profile {
  display: flex;
  flex-direction: row;

  &__info {
    padding-top: 60px;
    padding-bottom: 109px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    width: 100%;
    align-items: center;
  }

  &__data {
    display: flex;
    flex-direction: row;
    max-width: 510px;
    width: 100%;
  }

  &__texts {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__links {
    display: flex;
    flex-direction: column;
  }
}
