.input {
  max-width: 280px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #3369F3;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #1E1E1E;
  margin: 0 auto;
  margin-bottom: 16px;
  padding: 7px 0;

  &:focus {
    outline: none;
  }



  &:disabled {
    background: transparent;
    border-bottom: 1px solid #EAEAEA;
    text-align: end;
    padding: 10px 0;
  }

  &__label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
    color: #999999;
  }
}

input::placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #999999;
}
