.button {
  max-width: 280px;
  width: 100%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;

  &_blue {
    background: #3369F3;
    color: #fff;
  }
}
